.mat-card
    border-radius: 0
    background: #e8f5ff40
    box-shadow: none
    border-top: 1px solid rgba(0, 0, 0, 0.2)
    font-size: 14px
    padding-left: 35px

.mat-icon
    font-size: 15px


.mat-card
    margin: 0 -16px

.mat-card-avatar 
    height: 30px
    width: 30px

.mat-card-title
    font-size: 17px

.mat-card-actions
    padding: 0

.mat-icon-button
    height: auto
    line-height: inherit

.mat-card-content
    margin-top: 10px

.delete-button
    color: red
    margin: auto 0 auto auto

.like-dropdown
    position: relative
    display: inline-block

.like-dropdown-content
  display: none
  position: absolute
  background-color: #6A6565
  min-width: 170px
  border-radius: 10px
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index: 1

.like-dropdown:hover .like-dropdown-content 
    display: block

.imgInline
    display: inline-block
    float: left

.like-dropdown:hover .like-btn-dropdown 
    background-color: #E7E7E7

.circular-portrait
    display: flex
    position: relative
    width: 50px
    height: 50px
    overflow: hidden
    border-radius: 50%

.circular-portrait img 
    width: 100%
    height: auto

