<div *ngIf="!comment.isEditing; else editingMode">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
      <mat-card-title>{{comment.author.userName}} </mat-card-title>
      <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
      <div *ngIf="currentUser && isDeleteButtonVisible()" class="delete-button">
        <button mat-icon-button (click)="deleteComment()">X</button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p>{{comment.body}}</p>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <div *ngIf="currentUser && isDeleteButtonVisible()">
        <button mat-icon-button color="primary" (click)="switchEditMode()">Edit</button>
      </div>
      <div class="like-dropdown">
        <button class="like-btn-dropdown" mat-icon-button color="primary" (click)="sendReaction(true)">
          <mat-icon matBadge="{{likeCounter(true)}}" matBadgeColor="accent" matBadgeSize="medium" aria-label="Like">
            thumb_up
          </mat-icon>
        </button>
        <div class="like-dropdown-content">
          <div *ngFor="let reaction of comment.reactions">
            <div *ngIf="reaction.isLike" class="imgInline">
              <img class="circular-portrait" src="{{reaction.user.avatar}}" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="like-dropdown">
        <button class="like-btn-dropdown" mat-icon-button color="primary" (click)="sendReaction(false)">
          <mat-icon matBadge="{{likeCounter(false)}}" matBadgeColor="accent" matBadgeSize="medium" aria-label="Like">
            thumb_down
          </mat-icon>
        </button>
        <div class="like-dropdown-content">
          <div *ngFor="let reaction of comment.reactions">
            <div *ngIf="reaction.isDislike" class="imgInline">
              <img class="circular-portrait" src="{{reaction.user.avatar}}" alt="">
            </div>
          </div>
        </div>
      </div>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Share">share</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #editingMode>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-group">
      <textarea [(ngModel)]="comment.body" matInput></textarea>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <div *ngIf="currentUser && isDeleteButtonVisible()">
      <button class="btn btn-outline-info" (click)="editComment()">
        Save
      </button>
    </div>
  </mat-card-actions>
</ng-template>