<h2 mat-dialog-title class="title">Looks like it time to change password</h2>
<div mat-dialog-content>
    <form name="changePassForm" #authForm="ngForm" class="main-content">
        <div>
            <mat-form-field>
                Old Password
                <input name="authUserName" [(ngModel)]="oldPassword" placeholder="Old Password" matInput
                    type="password">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                New Password
                <input name="authUserName" [(ngModel)]="newPassword" placeholder="New Password" matInput
                    type="password">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                Confirm Password
                <input name="authPassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" matInput
                    type="password">
            </mat-form-field>
        </div>
    </form>
</div>
<div class="actions">
    <div>
        <button mat-raised-button (click)="close()">Back</button>
        <button *ngIf="newPassword===confirmPassword" mat-raised-button color="primary" (click)="changePass()">
            Ok

        </button>

    </div>
</div>