<div *ngIf="!post.isEditing; else editingMode">
  <mat-card [ngClass]=" {'post-with-comments': showComments}">
    <mat-card-header>
      <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
      <mat-card-title>{{post.author.userName}}</mat-card-title>
      <div class="date"><a [routerLink]="['post/', post.id]">
          {{post.createdAt | date:'d/M/yy, h:mm a'}}</a></div>
      <div *ngIf="currentUser && isPrivateButtonVisible()" class="delete-button">
        <button mat-icon-button (click)="deletePost()">X</button>
      </div>
    </mat-card-header>
    <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
    <mat-card-content>
      <p>{{post.body}}</p>
    </mat-card-content>
    <mat-card-actions class="actions-buttons" align="end">
      <div *ngIf="currentUser && isPrivateButtonVisible()">
        <button mat-icon-button color="primary" (click)="switchEditMode()">Edit</button>
      </div>
      <!-- TODO: Fix Counters  -->
      <div class="like-dropdown">
        <button class="like-btn-dropdown" mat-icon-button color="primary" (click)="sendReaction(true)"
          (click)="sendNotification()">
          <mat-icon matBadge="{{likeCounter(true)}}" matBadgeColor="accent" matBadgeSize="medium"
            [matBadgeHidden]="post.reactions.length === 0" aria-label="Like">thumb_up</mat-icon>
        </button>
        <div class="like-dropdown-content">
          <div *ngFor="let reaction of post.reactions">
            <div *ngIf="reaction.isLike" class="imgInline">
              <img class="circular-portrait" src="{{reaction.user.avatar}}" title="{{reaction.user.userName}}">
            </div>
          </div>
        </div>
      </div>
      <div class="like-dropdown">
        <button class="like-btn-dropdown" mat-icon-button color="primary" (click)="sendReaction(false)">
          <mat-icon matBadge="{{likeCounter(false)}}" matBadgeColor="accent" matBadgeSize="medium"
            [matBadgeHidden]="post.reactions.length === 0" aria-label="Like">thumb_down</mat-icon>
        </button>
        <div class="like-dropdown-content">
          <div *ngFor="let reaction of post.reactions">
            <div *ngIf="reaction.isLike==false" class="circular-portrait">
              <img src="{{reaction.user.avatar}}" alt="">
            </div>
          </div>
        </div>
      </div>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Share">share</mat-icon>
      </button>
      <button mat-icon-button color="basic" (click)=" toggleComments()">
        <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
          [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
      </button>
    </mat-card-actions>
    <div *ngIf="showComments">
      <mat-divider></mat-divider>
      <div class="new-comment">
        <mat-form-field>
          <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
        </mat-form-field>
        <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
          <mat-icon aria-label="Send">send</mat-icon>
        </button>
      </div>
      <div *ngIf="post.comments.length > 0" class="comments-count">
        Just {{post.comments.length}} in all
      </div>
      <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" (editing)="onCommentEditing($event)"
        (deleting)="onCommentDeleting($event)">
      </app-comment>
    </div>
  </mat-card>
</div>


<ng-template #editingMode>
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="form-group">
      <textarea [(ngModel)]="this.post.body" placeholder="" cols="75" rows="5"></textarea>
    </div>
    {{post.body}}
    <mat-card-actions class="actions-buttons" align="end">
      <input hidden #file accept="image/*" type="file" (change)="imageLoad($event.target)">
      <button mat-icon-button color="accent" (click)="file.click()">
        <mat-icon aria-label="Choose an image">image</mat-icon>
      </button>
      <button class="btn btn-outline-info" (click)="editPost()">
        Save
      </button>
    </mat-card-actions>
  </mat-card-content>
</ng-template>