mat-card-actions button
    margin-right: 8px

mat-card-header
    margin-bottom: 5px
    display: flex
    align-items: center
    mat-card-title
        margin: 0
    .date
        color: rgba(0, 0, 0, 0.5)

mat-card-content
    font-size: 15px
    margin: 0

mat-icon
    font-size: 22px

.post-with-comments
    padding-bottom: 0

.mat-badge-content
    font-size: 10px

.new-comment
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    padding: 20px 0
    .mat-form-field
        width: 100%

.comments-count
    width: 100%
    text-align: center
    color: rgba(0, 0, 0, 0.5)
    margin-bottom: 5px

.delete-button
    margin: auto 0 auto auto
    color: red

.like-dropdown
    position: relative
    display: inline-block

.like-dropdown-content
  display: none
  position: absolute
  background-color: #6A6565
  min-width: 170px
  border-radius: 10px
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  z-index: 1

.like-dropdown:hover .like-dropdown-content 
    display: block

.imgInline
    display: inline-block
    float: left

.like-dropdown:hover .like-btn-dropdown 
    background-color: #E7E7E7

.circular-portrait
    display: flex
    position: relative
    width: 50px
    height: 50px
    overflow: hidden
    border-radius: 50%

.circular-portrait img 
    width: 100%
    height: auto

